{% from "_formsHelper.html" import render_field %}

{% extends "base.html" %}

{% block title %}
Update Address - Dashboard
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ url_for('dashboard.home') }}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ url_for('dashboard.address_book') }}">Address Book</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Update</li>
            </ol>
        </nav>

        <div class="card mt-4">
            <div class="card-header">Update Address</div>
            <div class="card-body">
                <form action="{{ url_for('dashboard.update_address', id=address.id) }}" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Location" name="name" required value="{{ address.name }}">
                    </div>
                    <div class="form-group">
                        <textarea name="address" class="form-control" cols="30" rows="10" required>{{ address.address }}</textarea>
                    </div>
                    <button type="submit" class="form-control btn btn-info">Update Address</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}