{% extends "base.html" %}

{% block title %}
    Admin Area
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Manage Categories</h5>
                    <p class="card-text">Add, View, Update or Delete your product categories.</p>
                    <a href="{{ url_for('admin.category') }}" class="btn btn-info" style="float: right;">Go</a>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Manage Products</h5>
                    <p class="card-text">Add, View, Update or Delete your products.</p>
                    <a href="{{ url_for('admin.product') }}" class="btn btn-info" style="float: right;">Go</a>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Manage Orders</h5>
                    <p class="card-text">Add, View, Update or Delete orders made by customers.</p>
                    <a href="{{ url_for('admin.order') }}" class="btn btn-info" style="float: right;">Go</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}