APP_NAME=Application
APP_URI=http://localhost:5000

PROHIBITED_USERNAMES=['default', 'admin']

UPLOAD_ABLE_IMAGES=['jpg', 'jpeg', 'png', 'svg', 'gif']
UPLOAD_ABLE_VIDEOS=['mp4', 'mkv']

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

SENDGRID_API_KEY=
SENDGRID_DEFAULT_FROM=

SECRET_KEY=

SQLALCHEMY_TRACK_MODIFICATIONS=
SQLALCHEMY_DATABASE_URI=