{% extends "base.html" %}

{% block title %} Track Orders {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ url_for('dashboard.home') }}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
        </nav>
        {% if current_user.order %}
            {% for order in current_user.order|reverse %}
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">{{ order.placed_on }} @ ${{ order.amount }}</h5>
                    <p><b>Status</b>: {{ order.status }}</p>
                    <div style="float: right;">
                        <a href="{{ url_for('dashboard.view_order', id=order.id) }}" class="btn btn-primary btn-sm">View</a>
                        {% if order.status != 'Canceled' and order.status != 'Completed' %}
                            <form class="d-inline" action="{{ url_for('app.cancel_order') }}" method="POST">
                                <input type="hidden" name="id" value="{{ order.id }}">
                                <button class="cancel-order btn btn-danger btn-sm" type="submit">Cancel</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}