{% extends "base.html" %}

{% block title %} Cart {% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">Cart</div>
        <div class="card-body">
            {% if cart %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set count = namespace(i=1) %}
                            {% for key, product in cart.items() %}
                                {% if key != 'len' %}
                                    <tr id="tr-{{ product.slug }}">
                                        <td>{{ count.i }}</td>
                                        <td>
                                            <a href="{{ url_for('app.product', slug=product.slug) }}" class="text-dark" target="_blank">
                                                {{ product.title }}
                                            </a>
                                        </td>
                                        <td id="{{ product.slug }}-price">{{ product.price }}</td>
                                        <td id="{{ product.slug }}-qtty">{{ product.quantity }}</td>
                                        <td id="{{ product.slug }}-total">{{ product.price * product.quantity }}</td>
                                        <td>
                                            <form action="#" class="cart-update-form">
                                                <div class="center-align">
                                                    <input type="number" class="form-control form-control-sm cart-qtty" value="{{ product.quantity }}" min="1" style="width: 50px; display: inline-block">
                                                    <input type="hidden" class="product-slug" value="{{ product.slug }}">

                                                    <button class="btn btn-sm btn-outline-dark" style="display: inline-block">
                                                        Update
                                                    </button>
                                                    &nbsp;&nbsp;
                                                    <a href="#" class="delete-cart-item" style="display: inline-block;">
                                                        
                                                        <!-- <button class="btn" type="submit"> -->
                                                            <i class="fas fa-trash text-dark" style="font-size: 20px;">
                                                                <span class="sr-only">{{product.slug}}</span>
                                                            </i>
                                                        <!-- </button> -->
                                                    </a>
                                                </div>
                                            </form>


                                        </td>
                                    </tr>
                                    {% set count.i = count.i + 1 %}
                                {% endif %}
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h3>Your cart is empty!</h3>
{#                <a href="{{ url_for('app.') }}">Add One?</a>#}
            {% endif %}
        </div>
    </div>
{% endblock %}