{% extends "base.html" %}

{% block title %} {{ product.title }} {% endblock %}

{% block body %}
    <div class="row my-4 mx-auto">
        <div class="col-md-12">
            <div class="my-2 bg-image d-shadow-in p-relative"
                 style="width: 100%; height: 40vh; background-image: url({{ url_for('app.product_photo', slug=product.slug) }})"
                 onclick="
                     window.open('{{ url_for('app.product_photo', slug=product.slug) }}', '_blank')
                 ">
                <div class="mx-4 my-2 p-absolute p-down text-light" style="z-index: 999">
                    <h3 class="card-title">
                        {{ product.title }}
                    </h3>
                    <p>Price: {{ product.price }} usd</p>
                </div>
            </div>

            <div class="my-4">
                <h4>Description</h4>
                <p>{{ product.description }}</p>
            </div>
            <div class="add-to-cart p-fixed p-down p-right" title="Add to Cart">
                <form action="#" class="cart-form bg-dark" id="cart-form">
                    <div class="center-align">
                        <div class="form-row">
                            <div class="col-8 form-group">
                                <input type="number" class="form-control form-control-sm" id="cart-qtty" value="1" min="1">
                                <input type="hidden" id="product-slug" value="{{ product.slug }}">
                            </div>
                            <div class="col-3 form-group">
                                <button class="btn btn-sm btn-outline-light">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="button bg-dark text-light" id="showCartButton">
                    <i class="fas fa-cart-plus"></i>
                </div>
           </div>
        </div>
    </div>


{% if product.category.products|length > 0 %}
    <div class="clearfix"></div>
    <hr />
    <h3 class="text-center">More from {{product.category.name}}</h3>
    <div class="row my-4 mx-auto">
        {% set resp = namespace(col_size=4, offset=0, count=1) %}
        {% for product1 in product.category.products %}
        {% if resp.count <= 3 %}
        {% if product1.id != product.id %}
            <div class="col-md-4">
                <div class="card d-shadow my-4">
                    <div class="bg-image"
                        style="height: 200px; width: 100%; background-image: url({{ url_for('app.product_photo', slug=product1.slug) }})">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ url_for('app.product', slug=product1.slug) }}" class="text-dark" id="p-{{ resp.count }}">
                                {{ product1.title }}
                            </a>
                        </h5>
                        <p>
                            Price: {{ product1.price }} usd
                        </p>
                        <form action="#" class="add-to-cart-from" id="form-{{ product1.id }}">
                            <div class="form-row">
                                <div class="form-group col-9">
                                    <input type="number" class="form-control" id="p-qtty-{{ product1.id }}" value="1" min="1">
                                    <input type="hidden" id="p-slug-{{ product1.id }}" value="{{ product1.slug }}">
                                </div>
                                <div class="form-group col-3">
                                    <button type="submit" class="btn btn-outline-dark form-control">
                                        <i class="fas fa-cart-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <a href="{{ url_for('app.product', slug=product1.slug) }}" class="form-control btn btn-outline-dark">
                            <i class="fas fa-eye"></i> View Details
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% set resp.count = resp.count + 1 %}
        {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}